<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rtl_fm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>rtl_sdr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rtl_tcp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>rtl_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>rtlsdr_shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>rtlsdr_static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36CAED5DBC8D4D258D770951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E1AD682485472B8DA22AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A579546F3994F42BEBAEB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C90F4355F624637BE90B583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874A5C69C0784F06B88748C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D2D540AE8394A889E0AC327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E7DEB521A47409AAB6CCD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DC821648624F97870FA7D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6503EBF0BE44E09BD04C8B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F25DC55F98A1453395FCE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
